h1 {
    color: blue;
    background-color: red;
    size: 32px;
    font-weight: bold;
    padding: 32px;
    border-width: 8px;
    border-color: blue;
    border-style: solid;
    margin: 10px;
}

h2 {
    text-align: center;
    background-color: aqua;
    color: rgb(60, 77, 43);
    font-family: 'Courier New', Courier, monospace;
    margin: 30px 200px;
    padding: 30px 60px;
}

p {
    color: chocolate;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

ol {
    background-color: cornflowerblue;
    font-weight: 100;
}

ul {
   color: crimson;
}